{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'img/no_image.jpeg' %}">
<link rel="stylesheet" href="{% static 'css/card.css' %}">
<link rel="stylesheet" href="{% static 'css/pagination.css' %}">

{% for company in companies%}
<div class="card">
  <div class="card-image-container">
    <a href="{% url 'main:company_detail' company.pk%}"><img src="{% static 'img/no_image.jpeg'"></a>
  </div>
  <p class="card-title">{{company.name}}</p>
  <p class="card-des">
    {{company.type}}
  </p>
  <p class="card-des">
    {{company.about}}
  </p>
  <p class="card-des">
    Coupons: {{company.coupons.count}}
  </p>
</div>

{% endfor %}
<div class="pagination">
    {% if page_obj.has_previous %}
      <a href="?page=1">&laquo;</a>
      <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
    {% endif %}
    <a href="#" class="active">{{ page_obj.number }}</a>
    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
    {% endif %}
  </div>


{% endblock %}