body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.coupons {
    width: 70%;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.coupon-item {
    border-bottom: 1px solid #ddd;
    padding: 20px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

.coupon-item:hover {
    background-color: #f8f8f8;
}

.coupon-item img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    border-radius: 50%;
}

.coupon-item div {
    flex-grow: 1;
}

.search-field {
    width: 60%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 25px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.filter-section {
    position: relative;
}

.filter-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transition: left 0.3s ease, top 0.3s ease;
}

.filter-modal .filter-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

.filter-modal .filter-content h2 {
    margin-top: 0;
}

.filter-modal .filter-content label {
    display: block;
    margin-bottom: 5px;
}

.filter-modal .filter-content select,
.filter-modal .filter-content input[type="range"] {
    width: 100%;
    margin-bottom: 10px;
}

.filter-modal .filter-content p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 14px;
}

.filter-modal .filter-content .filter-buttons {
    display: flex;
    justify-content: flex-end;
}

.filter-modal .filter-content .filter-buttons button {
    margin-left: 10px;
}

.filter-modal .filter-close-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.filter-modal .filter-close-button:hover {
    color: #ccc;
}

.filter-modal .filter-submit-button {
    background-color: #e74c3c;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.filter-modal .filter-submit-button:hover {
    background-color: #c0392b;
}

.coupon-item form {
    margin-top: 10px; /* Add some spacing between the claim button and coupon details */
}
.coupon-item.claimed {
    background-color: #f8f8f8;
}
.coupon-item button {
    background-color: #e74c3c; /* Red background color */
    color: #fff; /* White text color */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.coupon-item button:hover {
    background-color: #c0392b; /* Darker red on hover */
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    border-radius: 15px;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}
